html {
  margin: 10px;
  font-size: 12px;
}

div.main {
  display: table;
}

div.flags {
  float: left;
}

div.flags div {
  display: inline;
}

div.flags div label {
  margin-right: 5px;
}

div.input {
  float: right;
  text-align: right;
}

div.input div {
  padding: 3px;
}

div.input div label {
  padding: 3px;
  width: 70px;
}

div.input div input {
  box-sizing: border-box;
  border: 1px solid gray;
  outline: none;
  margin: 0;
  width: 100px;
  text-align: right;
}

div.kurswert {
  margin-top: 10px;
  float: right;
}

div.kurswert span {
  padding: 0;
}

span#kurswert-euro {
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
  text-align: right;
  color: darkgreen;
}

table {
  min-width: 555px;
}

tr {
  border-bottom: 1px solid black;
}

td {
  padding: 1px;
}

td.handelsplatz {
  padding-top: 15px;
  padding-bottom: 8px;
  font-weight: bold;
}

td.name {
  min-width: 234px;
}

td.limit {
  min-width: 100px;
  text-align: right;
}

td.promille,
td.fixum,
td.gebuehr {
  min-width: 80px;
  text-align: right;
}

td.fixum,
td.gebuehr {
  min-width: 40px;
}

td.gebuehr-promille {
  min-width: 80px;
}

td.minmax {
  min-width: 180px;
  text-align: left;
}

td.gesamtgebuehr {
  padding-top: 8px;
  text-align: right;
  font-weight: bold;
  color: darkred;
}

td.centering {
  min-width: 20px;
  text-align: center;
}
